@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.header-bg{
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.nav{
  padding: 20px;
  gap: 0;
  justify-content: space-around;
}
.btn{
      width: 140px;
    padding: 12.5px 16px;
    border-radius: 36px;
    transition: .5s ease-in-out;
}
.btn:hover{
   transform:scale(1.15);
}
.btn1{
    width: 201px;
    padding: 12.5px 20px;
    border-radius: 36px;
    margin-right: 8px;
    transition: .5s ease-in-out;
}
.btn1:hover{
    transform: scale(1.1);
}
.btn2{
    width: 150px;
    padding: 12.5px 20px;
    border: 2px solid #00ff88;
    background: none;
    border-radius: 36px;
    color: #00ff88;
    font-weight: 500;
     transition: .5s ease-in-out;
}
.btn2:hover{
     transform: scale(1.1);
}
#banner{
    width: 100%;
    max-width: 1600px;
  background-image: url(./assets/hero-bg.png);
  align-items: center;
  padding: 101px 525px;
    margin: 0 auto;
}
.banner-container{
    max-width: 550px;
    align-items: center;
    margin: 0 auto;
}
.banner-img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-inline: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   transition: .5s ease-in-out;
}
.banner-img:hover{
    transform: scale(1.2);
}
.banner-img .mic{
    position: absolute;
}
.banner-img .new{
    background-color: #00ff88;
    width: 72px;
    text-align: center;
    border: none;
    border-radius: 100px;
    box-shadow: 3px 3px 40px green;
    padding: 8px 16px;
    position: absolute;
    right: 23px;
    bottom: 300px;
    transition: .5s ease-in-out;
}
.banner-img .new:hover{
      transform: translate(20px);
    
}
.banner-content{
    text-align: center;
}
.banner-content h1{
    margin-bottom: 12px;
}
.banner-content p{
    margin-bottom: 12px;
}
#about{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding: 50px 200px 120px;
}
.about-content{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.about-content p{
    margin-top: 16px;
    color: white;
    line-height: 30px;
    opacity: 80%;
}

hr{
    margin: 80px auto;
    color: white;
    opacity: 20%;
}
.about-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 80px;
}
.about-card .card{
    width: 240px;
    text-align: center;
    align-items: center;
}
.card h1{
    font-size: 48px;
    color: #00ff88;
    font-weight: 800;
}
.card p{
      margin-top: 16px;
    color: white;
    line-height: 30px;
    opacity: 80%;
}

#choose{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
    padding: 120px 200px;
    text-align: center;
}
#choose .choose-card{
     background-color: #351165;
     border-radius: 40px;
     text-align: left;
     display: flex;
     align-items: center;
     padding: 40px;
}
.choose-card h2, .feature-card h3,
.host-text h2{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0;
}
.choose-card p , .feature-card p ,
.host-text p{
    color: white;
    opacity: 80%;
}
.choose-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.c1{
    grid-row: span 2;

}
.c2{
    grid-column: span 2;
}
.c3{
    grid-column: span 2;
}
.c4{
    grid-column: span 2;
}

#feature{
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 0;
    
}
.feature-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
}
.feature-card{
    width: 380px;
    background-color: #250D44;
    border-radius: 20px;
    text-align: left;
}
.feature-card-content{
    padding: 24px;
}
.feature-card-content h4{
    color: #00ff88;
    margin-top: 12px;
}
.feature-card .media{
    position: relative;
    max-width: 380px;
    aspect-ratio: 16/9;
}
.media iframe{
     width: 100%;
     height: 100%;
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.host{
    max-width: 1200px;
    margin: 120px auto;
}
.host-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    flex-shrink: 0;
}

.host-container{
    display: flex;
    gap: 24px;
    background-color: #351165;
    padding: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 40px;
}
.host-text{
    text-align: left;
}
.host-social{
    margin-top: 16px;
    display: flex;
    gap: 8px;
}
.host-social a{
    border: 1px solid #533C72;
    height: 40px;
    width: 40px;
    border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

footer{
    background-image: url(./assets/footer-bg.png);
     width: 100%;
    max-width: 1600px;
  align-items: center;
  padding: 120px;
    margin: 0 auto;
}
.footer-container{
   display: grid;
   justify-items: center;
}
.footer-links{
    display: flex;
    gap: 40px;
    margin-top: 28px;
    margin-bottom: 32px ;
}
.footer-links p{
    display: flex;
    gap: 8px;
    color: white;
}
.footer-links img{
    height: 24px;
    width: 24px;
    flex-shrink: 0;
}
.footer-container h4{
    color: white;
    opacity: 60%;

}


.hamburger{
  display: none;
  width: 28px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
      .header-bg{

      }
      .nav{
          justify-content: space-around;
      }
      .navbar{
        display: none;
      }
      .hamburger{
    display: block;
  }
   #banner {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
  }
      .banner-container{
        padding: 40px;
        background-repeat: none;
        margin: 0 auto;
      }
      .banner-img{
    width: 250px;
    height: 250px;
    margin: 0 auto 34px;
  }
  .banner-img .mic{
    height: 100px;
  }
   .banner-img img {
    max-width: 100%;
  }
    .banner-img .new {
    right: 0;
    bottom: 200px;
    font-size: 16px;
  }
   #about {
    padding: 40px 20px;
  }
  .about-content {
    width: 100%;
    text-align: center;
  }
  .about-content p{
    line-height: 18px;
  }
   .about-card {
       grid-template-columns: repeat(2, 1fr);
       justify-items: center;
     column-gap: 10px;
     margin: 0 auto;
  }
  .about-card .card {
    width: 100%;
  }
  #choose {
    padding: 40px 20px;
  }
   .choose-card-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .choose-card {
    padding: 24px;
  }
}