@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bg{
    background-color: #412567;
}
.nav{
    width: 100%;
    max-width: 1600px;
    padding:30px 200px;
}
.btn{
    width: 135px;
    padding: 12.5px 16px;
    border-radius: 36px;
}