@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.header-bg{
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}
.nav{
    width: 100%;
    max-width: 1600px;
    padding:30px 200px;
    align-items: center;
    margin: 0 auto;
}
.btn{
      width: 140px;
    padding: 12.5px 16px;
    border-radius: 36px;
}
.btn1{
    width: 201px;
    padding: 12.5px 20px;
    border-radius: 36px;
    margin-right: 8px;
}
.btn2{
    width: 150px;
    padding: 12.5px 20px;
    border: 2px solid #00ff88;
    background: none;
    border-radius: 36px;
    color: #00ff88;
    font-weight: 500;
}
#banner{
    width: 100%;
    max-width: 1600px;
  background-image: url(./assets/hero-bg.png);
  align-items: center;
  padding: 101px 525px;
    margin: 0 auto;
}
.banner-container{
    max-width: 550px;
    align-items: center;
    margin: 0 auto;
}
.banner-img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-inline: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-img .mic{
    position: absolute;
}
.banner-content{
    text-align: center;
}
.banner-content h1{
    margin-bottom: 12px;
}
.banner-content p{
    margin-bottom: 12px;
}
#about{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding: 50px 200px 120px;
}
.about-content{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.about-content p{
    margin-top: 16px;
    color: white;
    line-height: 30px;
    opacity: 80%;
}

hr{
    margin: 80px auto;
    color: white;
    opacity: 20%;
}
.about-card{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.about-card .card{
    width: 240px;
    text-align: center;
    align-items: center;
}
.card h1{
    font-size: 48px;
    color: #00ff88;
    font-weight: 800;
}
.card p{
      margin-top: 16px;
    color: white;
    line-height: 30px;
    opacity: 80%;
}


